<h2>Create a new User:</h2>

<%= render partial: "application/errors", locals: {object: @user} %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
  <%= f.submit %>
<% end %>
