<h2><%= @user.username.capitalize %>'s Prospects:</h2>


<% if !@user.attendees.empty? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Profession</th>
      <th>Wealth Rating</th>
      <th>Number of Tickets</th>
    </tr>
    <% @user.attendees.each do |attendee| %>
      <tr>
        <td><%= link_to attendee.full_name, attendee_path(attendee) %></td>
        <td><%= attendee.profession %></td>
        <td><%= attendee.wealth_rating %></td>
        <td><%= attendee.tickets.count %></td>
      </tr>
    <% end %>
  </table>
<% else %>
<ul>
  <li>None</li>
</ul>
<% end %>
