<h2><%= @user.username.capitalize %>'s Prospects:</h2>


<% if !@user.attendees.empty? %>
  <%= form_tag(user_path(@user), method: "get") do %>
    <%= select_tag "sort", options_for_select(["Alpha", "Best Wealth Rating", "Most Tickets"]) %>
    <%= submit_tag "Sort" %>
  <% end %><br>

  <%= render "attendees/table" %>
<% else %>
<ul>
  <li>None</li>
</ul>
<% end %>
