<h2>All Attendees:</h2>

<%= form_tag("/attendees", method: "get") do %>
  <%= select_tag "sort", options_for_select(["Alpha", "Best Wealth Rating", "Most Tickets"]) %>
  <%= submit_tag "Sort" %>
<% end %><br>

<table>
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Wealth Rating</th>
    <th>Number of Tickets</th>
    <th>Solicitor</th>
  </tr>
  <% @attendees.each do |attendee| %>
    <tr>
      <td><%= link_to attendee.full_name, attendee_path(attendee) %></td>
      <td><%= attendee.profession %></td>
      <td><%= attendee.wealth_rating %></td>
      <td><%= attendee.tickets.count %></td>
      <td><%= link_to attendee.user.username, user_path(attendee.user) if attendee.user %></td>
    </tr>
  <% end %>
</table>
