<h2>All Attendees:</h2>

<%= render "table" %><br>

<%= "Sorted by: #{@sort_status}" %><br><br>

<%= form_tag("/attendees", method: "get") do %>
  <%= select_tag "sort", options_for_select(["Alphabetical", "Best Wealth Rating", "Most Tickets"]) %>
  <%= submit_tag "Sort" %>
<% end %><br>
