<h2><%= @attendee.full_name %></h2>

<h3>Profession: <%= @attendee.profession %></h3>

<h3>Age: <%= @attendee.age %></h3>

<h3>Wealth Rating: <%= @attendee.wealth_rating %></h3>

<h3>Notes: <%= @attendee.notes %></h3>

<h3>Solicitor: <%= @attendee.user.username %></h3>

<h3><%= @attendee.name %>'s Concerts:</h3>

<ul>
  <% @attendee.concerts.each do |concert| %>
    <li><%= link_to concert.title, concert_path(concert) %> - <%= display_date(concert) %></li>
  <% end %>
</ul>
