<h2><%= @attendee.name %></h2>

<h3>Profession: <%= @attendee.profession %></h3>

<h3>Age: <%= @attendee.age %></h3>

<h3>Wealth Rating: <%= @attendee.wealth_rating %></h3>

<h3>Notes: <%= @attendee.notes %></h3>

<h3>Solicitor: <%= display_solicitor(@attendee) %></h3>
