<h5><%= @attendee.full_name %></h5>

<div class="offset-by-one columns">
  <p><strong>Profession:</strong> <%= @attendee.profession %></p>

  <p><strong>Age:</strong> <%= @attendee.age %></p>

  <p><strong>Wealth Rating:</strong> <%= @attendee.wealth_rating %></p>

  <p><strong>Notes:</strong> <%= @attendee.notes %></p>

  <p><strong>Solicitor:</strong> <%= link_to @attendee.user.username, user_path(@attendee.user) if @attendee.user %></p>

  <p><strong><%= @attendee.full_name %>'s Concerts:</strong></p>

  <ul>
    <% @attendee.concerts.uniq.each do |concert| %>
      <li><%= display_date(concert) %> -  <%= link_to concert.title, concert_path(concert) %> - Seats: <%= display_seats(concert, @attendee) %></li>
    <% end %>
  </ul>

  <%= link_to "Edit Attendee", edit_attendee_path(@attendee) %>
</div>
