<h5>Title: <%= @concert.title %></h5>

<p><strong>Date:</strong> <%= display_date(@concert) %></p>

<p><strong>Venue:</strong> <%= @concert.venue %></p>

<p><%= link_to "Edit Concert Details", edit_concert_path(@concert) %><p>

<p><strong>Attendees:</strong></p>

<% if @concert.attendees.empty? %>
  <ul>
    <li>None</li>
  </ul>
<% else %>
  <%= render "attendees/table" %><br>
<% end %>

<%= render "add_attendee" %>
