<h5>Title: <%= @concert.title %></h5>

<p><strong>Date:</strong> <%= display_date(@concert) %></p>

<p><strong>Venue:</strong> <%= @concert.venue %></p>

<p><%= link_to "Edit Concert Details", edit_concert_path(@concert) %><p>

<p><strong>Attendees:</strong></p>

<% if @concert.attendees.empty? %>
  <ul>
    <li>None</li>
  </ul>
<% else %>
  <div class="offset-by-one columns">
    <div id="sort-display"></div>
    <div id="sort-status"></div>
    <%= render partial: "attendees/sort_button" %>
  </div>

  <script>
    const id = <%= @concert.id %>;
    const action = `http://localhost:3000/concerts/${id}/attendees/sort`;
    const sortRequest = "Alphabetical";
    getAttendees(action, sortRequest)
    addSortListener()
  </script>
<% end %>

<%= render "add_attendee" %>
