<h5>Title: <%= @concert.title %></h5>

<p>Date: <%= display_date(@concert) %></p>

<p>Venue: <%= @concert.venue %></p>

<p><%= link_to "Program", concert_pieces_path(@concert) %></p>

<%= link_to "Edit Concert Details", edit_concert_path(@concert) %><br>

<p>Attendees:</p>

<% if @concert.attendees.empty? %>
  <ul>
    <li>None</li>
  </ul>
<% else %>
  <%= render "attendees/table" %><br>
<% end %>

<%= render "add_attendee" %>
