<table>
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Wealth Rating</th>
    <th>Total Season Tickets</th>
    <th>Solicitor</th>
  </tr>
  {{#if this}}
    {{#each this}}
      <tr>
        <td><a href="/attendees/{{ id }}">{{ displayName }}</a></td>
        <td>{{ profession }}</td>
        <td>{{ wealth_rating }}</td>
        <td>{{ tickets_count }}</td>
        <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
      </tr>
    {{/each}}
  {{else}}
    <tr>
      <td>No Attendees</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  {{/if}}
</table>
