<!DOCTYPE html>
<html id=<%= session.has_key?(:user_id) ? "brown-bg" : "photo-background"%>>
  <head>
    <title>RailsConcertManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session.has_key?(:user_id) %>
      <div id="white-bg">
        <h3>Concert Management</h3>
        <%= button_to "Home", user_path(find_user(session[:user_id])), method: :get %>
        <%= button_to "Concerts", concerts_path %>
        <%= button_to "Attendees", attendees_path %>
        <%= button_to "Staff", users_path %>
    <% else %>
      <div>
        <h3 class="login top">Concert Management</h3>
    <% end %>

    <%= yield %>

    <% if session.has_key?(:user_id) %>
      <p>Logged in as: <%= display_user(session[:user_id]) %></p>
      <%= button_to "Logout", "/logout" %>
    <% end %>
      </div>
  </body>
</html>
